*,
* * {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #eeeeee;
}

#canvas-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.content-wrapper {
  padding: 50px;
  max-width: 960px;
}

.content-group {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 15px rgba(0, 0, 0, 0.75);
  margin-bottom: 50vh;
}

.content-group--first {
  margin-top: 40vh;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

p {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.2;
}
